[Unit]
Description=SSH key agent

[Service]
Type=forking
User=%u
Group=%u
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStop=/usr/bin/ssh-agent -k

[Install]
WantedBy=default.target
