[user]
  name = Peter Benjamin
  email = petermbenjamin@gmail.com
[core]
  editor = vim
[credential]
  helper = store
[hub]
  host = git.company.com
[push]
  default = simple
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@github.com:"]
  insteadOf = git://github.com/
