@font-face {
  font-family: 'Monoid';
  src: url('Monoid-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Monoisome';
  src: url('Monoisome-Regular.ttf') format('truetype'),
    url('https://larsenwork.com/monoid/css/Monoid-Regular.woff2')
      format('woff2');
  font-style: normal;
}
