@font-face {
  font-family: "Custom Font";
  src: url("Font-Book.otf") format("otf");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Medium.otf") format("otf");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Bold.otf") format("otf");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Light.otf") format("otf");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-XLight.otf") format("otf");
}
