@font-face {
  font-family: "Custom Font";
  src: url("Font-Book.opentype") format("opentype");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Medium.opentype") format("opentype");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Bold.opentype") format("opentype");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-Light.opentype") format("opentype");
}

@font-face {
  font-family: "Custom Font";
  src: url("Font-XLight.opentype") format("opentype");
}
