##############################################################################
# Generic
################################################################################

alias ..="cd .."
alias ...="cd ../.."
alias grep="grep --color=auto"
alias ll="ls -alFh"
alias vi="vim --clean"

# For safety
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# cargo install exa
if command -v exa &>/dev/null; then
    alias ls="exa"
    alias ll="ls --all --classify --long --git --group-directories-first"
fi

alias bubu="brew update && brew upgrade && brew cleanup"

# brew install kubectl
alias k="kubectl"
complete -F __start_kubectl k # kubectl auto completion for `k` alias
alias kcfg='export KUBECONFIG="$(find "${HOME}/.kube/configs" -type f | fzf)"' # pipe list of kubeconfigs to fzf for interactive fuzzy-finding

# vim: ft=sh
