##############################################################################
# Generic
################################################################################

alias ..="cd .."
alias ...="cd ../.."
alias grep="grep --color=auto"
alias ll="ls -alFh"
alias vi="vim -u NONE"

# For safety
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# cargo install exa
if command -v exa &>/dev/null; then
    alias ls="exa"
    alias ll="ls --all --classify --long --git --group-directories-first"
fi

# vim: ft=sh
