$include /etc/inputrc

set completion-ignore-case On
set completion-query-items 0
set mark-symlinked-directories on
set page-completions off
set show-all-if-ambiguous off
set visible-stats on
# set editing-mode vi
# set show-mode-in-prompt on
# set vi-ins-mode-string "+"
# set vi-cmd-mode-string ":"
# set vi-cmd-mode-string "\1\e[1;31m\2:\1\e[0m\2"
